/*basic*/
* {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -webkit-touch-callout：none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html {
    width: 100%;
    height: 100%;
    line-height: 1;
    font-size: 100px;
}
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #fff;
    font-size: 0.16rem;
}
input, textarea {
    -moz-user-select: auto;
    -webkit-user-select: auto;
    user-select: auto;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
a {
    transform-origin: 50% 50%;
    transition: transform 0.15s ease-out;
}
a:active {
    transform: scale(0.95);
}



/*button*/
.btn_wrap {
    text-align: center;
}
.btn {
    display: inline-block;
    height: 0.44rem;
    padding: 0 0.3rem;
    border-radius: 2rem;
    background: #F6CC7F;
}
.btn span {
    float: left;
    line-height: 0.44rem;
    padding-right: 0.15rem;
    font-size: 0.17rem;
    color: #87471d;
}
.btn img {
    float: left;
    width: 0.17rem;
    padding-top: 0.13rem;
}



/*quiz*/
.quiz_item_selected {
    color: red;
}



/*result*/
.result .intro {
    display: none;
}



/*form*/
.form .row label {
    display: block;
}
.form .row input {
    display: block;
    padding: 0.02rem;
    border: 0.01rem solid #eee;
}
.form .row .error {
    display: none;
}



/*share*/
.share_mask {
    background: rgba(0,0,0,0.6);
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99;
    transition: opacity 0.3s linear;
}
.share_mask_on {
    right: 0;
    bottom: 0;
    opacity: 1;
}



/*loading*/
.loading {
    display: -webkit-flex;
    display: flex;
    width: 100%;
    height: 100%;
    background: #fff;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
    -webkit-transition: opacity 0.5s linear;
    transition: opacity 0.5s linear;
}
.loading span {
    margin: auto;
    color: #333;
    -webkit-transition: -webkit-transform 0.5s ease-out;
    transition: transform 0.5s ease-out;
    -webkit-animation: breath 2.4s linear infinite;
    animation: breath 2.4s linear infinite;
}
.loading_hide {
    opacity: 0;
}
.loading_hide span {
    -webkit-transform: translate(0,10px);
    transform: translate(0,10px);
}
@-webkit-keyframes breath {
    0% { opacity: 1; }
    40% { opacity: 0.4; }
    100% { opacity: 1; }
}
@keyframes breath {
    0% { opacity: 1; }
    40% { opacity: 0.4; }
    100% { opacity: 1; }
}


