* {
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

html, body {
  height: 100%; }

html {
  line-height: 1;
  font-size: 100px; }

body {
  font-family: -apple-system,Helvetica,Arial,"PingFang SC","Source Han Sans SC","Microsoft YaHei","WenQuanYi MicroHei",sans-serif;
  line-height: 1.6;
  font-size: 0.16rem;
  color: #333;
  background: #fff; }

a {
  color: #F24C1A; }

input, textarea, button {
  font-family: -apple-system,Helvetica,Arial,"PingFang SC","Source Han Sans SC","Microsoft YaHei","WenQuanYi MicroHei",sans-serif; }

::selection {
  background: #F24C1A;
  color: #fff; }

::-moz-selection {
  background: #F24C1A;
  color: #fff; }

@media only screen and (max-width: 767px) {
  .bg_wrap {
    padding: 0.4rem 0.2rem; } }
@media only screen and (min-width: 768px) {
  .bg_wrap {
    padding: 0.4rem 10%; } }
.section_title {
  text-align: center;
  position: relative; }
  .section_title i {
    display: block;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0); }
    .section_title i:before, .section_title i:after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0.03rem; }

.dark {
  color: #333; }
  .dark i {
    background: #F24C1A; }
    .dark i:before, .dark i:after {
      background: #F24C1A; }

.light {
  color: #fff; }
  .light i {
    background: #fff; }
    .light i:before, .light i:after {
      background: #fff; }

@media only screen and (max-width: 767px) {
  .section_title {
    padding-bottom: 0.15rem;
    font-size: 0.16rem; }
    .section_title i {
      width: 0.06rem;
      height: 0.06rem; }
      .section_title i:before, .section_title i:after {
        width: 0.14rem;
        height: 0.01rem; }
      .section_title i:before {
        left: -0.2rem; }
      .section_title i:after {
        right: -0.2rem; } }
@media only screen and (min-width: 768px) {
  .section_title {
    padding: 0 0 0.2rem;
    margin: 0.5rem 0;
    font-size: 0.3rem; }
    .section_title i {
      width: 0.08rem;
      height: 0.08rem; }
      .section_title i:before, .section_title i:after {
        width: 0.28rem;
        height: 0.02rem; }
      .section_title i:before {
        left: -0.4rem; }
      .section_title i:after {
        right: -0.4rem; } }
.slogen {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }
  .slogen .bg_wrap {
    background-color: rgba(18, 17, 33, 0.65); }

.slogen1 {
  background-image: url(../images/slogen1.jpg); }

.slogen2 {
  background-image: url(../images/slogen2.jpg); }

.slogen3 {
  background-image: url(../images/slogen3.jpg); }

.slogen4 {
  background-image: url(../images/slogen4.jpg); }

@media only screen and (max-width: 767px) {
  .slogen .bg_wrap {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem; } }
@media only screen and (min-width: 768px) {
  .slogen .bg_wrap {
    padding-top: 1rem;
    padding-bottom: 1rem; } }
.header h1 {
  height: 100%; }
  .header h1 img {
    height: 100%; }

@media only screen and (max-width: 767px) {
  .header {
    height: calc(0.48rem - 0.1rem);
    padding: 0.1rem 0.2rem; } }
@media only screen and (min-width: 768px) {
  .header {
    height: calc(0.72rem - 0.15rem);
    padding: 0.15rem 1rem; } }
.sign_up {
  background-color: #121121;
  background-repeat: no-repeat; }
  .sign_up .bg_wrap {
    background-color: rgba(18, 17, 33, 0.65); }
    .sign_up .bg_wrap .instruction {
      color: #fff; }
      .sign_up .bg_wrap .instruction h1 {
        font-weight: bold; }
        .sign_up .bg_wrap .instruction h1:after {
          content: "";
          display: block;
          width: 0.34rem;
          height: 0.02rem;
          background: #fff; }
      .sign_up .bg_wrap .instruction span {
        display: block; }
    .sign_up .bg_wrap .form {
      overflow: hidden;
      background: #fff;
      border-radius: 0.04rem; }
      .sign_up .bg_wrap .form .stripe {
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap; }
        .sign_up .bg_wrap .form .stripe i {
          -webkit-flex: 1 1 25%;
          flex: 1 1 25%;
          display: block;
          height: 0.05rem; }
          .sign_up .bg_wrap .form .stripe i:nth-child(odd) {
            background-color: #F24C1A; }
          .sign_up .bg_wrap .form .stripe i:nth-child(even) {
            background-color: #121121; }
      .sign_up .bg_wrap .form h2 {
        text-align: center;
        color: #121121; }
      .sign_up .bg_wrap .form .row {
        margin: 0.12rem 0.2rem;
        border: 1px solid #ccc;
        border-radius: 0.04rem; }
        .sign_up .bg_wrap .form .row input {
          width: calc(100% - 0.3rem);
          height: 0.2rem;
          line-height: 0.2rem;
          padding: 0.06rem 0.15rem;
          font-size: 0.14rem;
          color: #333;
          position: relative;
          z-index: 2; }
        .sign_up .bg_wrap .form .row select {
          width: calc(100% - 0.3rem);
          height: 0.19rem;
          line-height: 0.19rem;
          padding: 0.06rem 0.15rem;
          border: 0;
          background: transparent;
          appearance: none;
          -moz-appearance: none;
          -webkit-appearance: none;
          font-size: 0.14rem;
          color: #333;
          position: relative;
          z-index: 2; }
      .sign_up .bg_wrap .form .submit {
        display: block;
        width: 2.1rem;
        height: 0.4rem;
        line-height: 0.4rem;
        margin: 0.25rem auto;
        background: #F24C1A;
        border-radius: 0.04rem;
        font-size: 0.16rem;
        color: #fff;
        text-align: center; }

@media only screen and (max-width: 767px) {
  .sign_up {
    background-position: center top;
    background-size: 300%; }
    .sign_up .bg_wrap .instruction {
      margin: 0 0 0.4rem; }
      .sign_up .bg_wrap .instruction h1 {
        font-size: 0.24rem; }
        .sign_up .bg_wrap .instruction h1:after {
          margin: 0.1rem 0 0; }
      .sign_up .bg_wrap .instruction p {
        margin: 0.3rem 0 0.1rem;
        font-size: 0.12rem; }
      .sign_up .bg_wrap .instruction span {
        font-size: 0.12rem; }
    .sign_up .bg_wrap .form h2 {
      margin: 0.2rem 0;
      font-size: 0.16rem; } }
@media only screen and (min-width: 768px) {
  .sign_up {
    background-position: center center;
    background-size: cover; }
    .sign_up .bg_wrap {
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: space-around;
      justify-content: space-around;
      -webkit-flex-flow: row wrap;
      flex-flow: row wrap;
      -webkit-align-items: center;
      align-items: center; }
      .sign_up .bg_wrap .instruction {
        -webkit-flex: 0 1 50%;
        flex: 0 1 50%; }
        .sign_up .bg_wrap .instruction h1 {
          font-size: 0.48rem; }
          .sign_up .bg_wrap .instruction h1:after {
            margin: 0.2rem 0 0; }
        .sign_up .bg_wrap .instruction p {
          margin: 0.4rem 0 0.6rem;
          font-size: 0.24rem;
          font-weight: bold; }
        .sign_up .bg_wrap .instruction span {
          font-size: 0.2rem; }
      .sign_up .bg_wrap .form {
        -webkit-flex: 0 1 45%;
        flex: 0 1 45%;
        max-width: 3.8rem; }
        .sign_up .bg_wrap .form h2 {
          margin: 0.3rem 0;
          font-size: 0.24rem; }
        .sign_up .bg_wrap .form .row input, .sign_up .bg_wrap .form .row select {
          padding: 0.11rem 0.15rem; }
        .sign_up .bg_wrap .form .submit {
          -webkit-transition: background-color 0.5s cubic-bezier(0.15, 0.95, 0.41, 0.95);
          transition: background-color 0.5s cubic-bezier(0.15, 0.95, 0.41, 0.95);
          background-color: #F24C1A; }
          .sign_up .bg_wrap .form .submit:visited {
            background-color: #F24C1A; }
          .sign_up .bg_wrap .form .submit:hover {
            background-color: #f68562; }
          .sign_up .bg_wrap .form .submit:active {
            background-color: #F24C1A; } }
.intro {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: #fff; }
  .intro .bg_wrap {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    background-color: rgba(18, 17, 33, 0.65);
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between; }
    .intro .bg_wrap .text h2 {
      padding-bottom: 0.1rem;
      font-weight: bold; }
    .intro .bg_wrap .list li i {
      display: inline-block;
      border: 0.01rem solid #fff;
      border-radius: 50%;
      text-align: center; }

@media only screen and (max-width: 767px) {
  .intro {
    background-image: url(../images/intro_mobile.jpg); }
    .intro .bg_wrap {
      -webkit-flex-flow: column wrap;
      flex-flow: column wrap;
      -webkit-align-items: flex-start;
      align-items: flex-start; }
      .intro .bg_wrap .text {
        padding-bottom: 0.2rem; }
        .intro .bg_wrap .text h2 {
          font-size: 0.18rem; }
        .intro .bg_wrap .text p {
          font-size: 0.14rem; }
      .intro .bg_wrap .list li i {
        width: 0.24rem;
        height: 0.24rem;
        line-height: 0.24rem;
        margin: 0.1rem 0.1rem 0.1rem 0; } }
@media only screen and (min-width: 768px) {
  .intro {
    background-image: url(../images/intro_pc.jpg); }
    .intro .bg_wrap {
      -webkit-flex-flow: row wrap;
      flex-flow: row wrap;
      -webkit-align-items: center;
      align-items: center; }
      .intro .bg_wrap .text {
        width: 40%; }
        .intro .bg_wrap .text h2 {
          font-size: 0.2rem; }
        .intro .bg_wrap .text p {
          font-size: 0.16rem; }
      .intro .bg_wrap .list {
        width: 50%; }
        .intro .bg_wrap .list li {
          float: left;
          margin-right: 0.5rem; }
          .intro .bg_wrap .list li i {
            width: 0.4rem;
            height: 0.4rem;
            line-height: 0.4rem;
            margin: 0.1rem; } }
.location {
  color: #fff; }

@media only screen and (max-width: 767px) {
  .location {
    background: #F24C1A; }
    .location .bg_wrap {
      padding-top: 0.3rem;
      padding-bottom: 0.3rem; }
      .location .bg_wrap .text h2 {
        padding: 0.1rem 0;
        font-size: 0.18rem; }
      .location .bg_wrap .text p {
        padding: 0.1rem 0;
        font-size: 0.14rem; }
      .location .bg_wrap img {
        width: 100%; } }
@media only screen and (min-width: 768px) {
  .location {
    background: url(../images/location_pc.jpg) no-repeat center center;
    background-size: cover; }
    .location .bg_wrap {
      padding-top: 1.2rem;
      padding-bottom: 1.2rem; }
      .location .bg_wrap .text h2 {
        padding: 0.2rem;
        font-size: 0.2rem; }
      .location .bg_wrap .text p {
        padding: 0.2rem;
        font-size: 0.16rem; }
      .location .bg_wrap img {
        display: none; } }
.advantage ul {
  padding: 0.5rem 0;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap; }
  .advantage ul li {
    padding: 0.2rem 0;
    text-align: center; }
    .advantage ul li h3 {
      padding: 0.1rem;
      font-weight: bold; }
    .advantage ul li p {
      padding: 0 0.1rem; }

@media only screen and (max-width: 767px) {
  .advantage ul li {
    -webkit-flex: 1 1 50%;
    flex: 1 1 50%; }
    .advantage ul li img {
      width: 0.6rem;
      height: 0.6rem; }
    .advantage ul li h3 {
      font-size: 0.16rem; }
    .advantage ul li p {
      font-size: 0.12rem; } }
@media only screen and (min-width: 768px) {
  .advantage ul li {
    -webkit-flex: 1 1 25%;
    flex: 1 1 25%; }
    .advantage ul li img {
      width: 1.2rem;
      height: 1.2rem; }
    .advantage ul li h3 {
      font-size: 0.2rem; }
    .advantage ul li p {
      font-size: 0.14rem; } }
.degree {
  background: #fafafa; }
  .degree .content .column .group {
    margin: 0.3rem 0; }
    .degree .content .column .group h4 {
      padding: 0.05rem 0 0.05rem 0.1rem;
      background: #121121;
      color: #fff; }
    .degree .content .column .group ul {
      margin: 0.1rem 0;
      padding-left: 0.3rem;
      list-style: disc; }

@media only screen and (max-width: 767px) {
  .degree .group h4 {
    font-size: 0.14rem; }
  .degree .group ul {
    font-size: 0.12rem; } }
@media only screen and (min-width: 768px) {
  .degree .content {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap; }
    .degree .content .column {
      -webkit-flex: 0 1 40%;
      flex: 0 1 40%; }
  .degree .group h4 {
    font-size: 0.16rem; }
  .degree .group ul {
    font-size: 0.14rem; } }
.fee .content .detail {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap; }
  .fee .content .detail li {
    -webkit-flex: 0 1 4rem;
    flex: 0 1 4rem; }
    .fee .content .detail li img {
      display: block;
      box-shadow: 0 0.03rem 0.12rem rgba(0, 0, 0, 0.15); }
.fee .content p em {
  color: #F24C1A;
  font-size: 0.14rem; }

@media only screen and (max-width: 767px) {
  .fee .content {
    padding-top: 0.2rem; }
    .fee .content li {
      margin: 0.1rem 0; }
      .fee .content li img {
        width: 100%; } }
@media only screen and (min-width: 768px) {
  .fee .content {
    padding-bottom: 0.5rem; }
    .fee .content li {
      margin: 0.4rem; }
      .fee .content li img {
        width: 4rem; } }
.require {
  background: #fafafa; }
  .require .content {
    padding: 0.2rem 0; }
    .require .content img {
      display: block;
      width: 100%;
      margin: 0.2rem 0;
      box-shadow: 0 0.03rem 0.12rem rgba(0, 0, 0, 0.15); }
    .require .content p {
      margin: 0.2rem 0; }
      .require .content p em {
        color: #F24C1A; }

.progress .content {
  padding: 0.2rem 0; }
  .progress .content img {
    display: block;
    width: 100%;
    margin: 0.2rem 0;
    box-shadow: 0 0.03rem 0.12rem rgba(0, 0, 0, 0.15); }
  .progress .content p {
    margin: 0.2rem 0; }
    .progress .content p em {
      color: #F24C1A; }

.howto {
  background: #fafafa; }
  .howto .content {
    padding: 0.2rem 0; }
    .howto .content img {
      display: none;
      width: 100%;
      margin: 0.2rem 0; }
    .howto .content p {
      margin: 0.2rem 0; }
      .howto .content p em {
        color: #F24C1A; }

@media only screen and (max-width: 767px) {
  .howto img.mobile {
    display: block; } }
@media only screen and (min-width: 768px) {
  .howto img.pc {
    display: block; } }
.life {
  color: #fff; }

@media only screen and (max-width: 767px) {
  .life {
    background: #F24C1A; }
    .life .text h2 {
      font-size: 0.16rem; }
    .life .text li {
      padding: 0.1rem 0;
      font-size: 0.12rem; } }
@media only screen and (min-width: 768px) {
  .life {
    background: url(../images/life.jpg) no-repeat center center;
    background-size: cover; }
    .life .text {
      float: right;
      width: 45%; }
      .life .text h2 {
        font-size: 0.3rem; }
      .life .text li {
        padding: 0.1rem 0;
        font-size: 0.16rem; } }
.buttons {
  background: #F24C1A; }
  .buttons div {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    height: 2.5rem;
    align-items: center; }
    .buttons div a {
      display: block;
      border: 1px solid #fff;
      border-radius: 0.06rem;
      color: #fff;
      text-align: center; }

@media only screen and (max-width: 767px) {
  .buttons div {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap; }
    .buttons div a {
      -webkit-flex: 0 1 0.4rem;
      flex: 0 1 0.4rem;
      width: 2rem;
      line-height: 0.4rem;
      margin: 0.12rem;
      font-size: 0.14rem; } }
@media only screen and (min-width: 768px) {
  .buttons div {
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap; }
    .buttons div a {
      -webkit-flex: 0 1 2rem;
      flex: 0 1 2rem;
      height: 0.48rem;
      line-height: 0.48rem;
      margin: 0.2rem;
      font-size: 0.16rem;
      -webkit-transition: background-color 0.5s cubic-bezier(0.15, 0.95, 0.41, 0.95);
      transition: background-color 0.5s cubic-bezier(0.15, 0.95, 0.41, 0.95);
      background-color: #F24C1A; }
      .buttons div a:visited {
        background-color: #F24C1A; }
      .buttons div a:hover {
        background-color: #f68562; }
      .buttons div a:active {
        background-color: #F24C1A; } }
.footer {
  padding: 0.2rem 0;
  text-align: center; }
  .footer p {
    padding: 0.05rem; }
    .footer p:last-of-type {
      font-size: 0.14rem; }
    .footer p i {
      padding: 0 0.1rem;
      color: #ccc; }

@media only screen and (min-width: 768px) {
  .footer p a {
    -webkit-transition: color 0.5s cubic-bezier(0.15, 0.95, 0.41, 0.95);
    transition: color 0.5s cubic-bezier(0.15, 0.95, 0.41, 0.95);
    color: #F24C1A; }
    .footer p a:visited {
      color: #F24C1A; }
    .footer p a:hover {
      color: #f68562; }
    .footer p a:active {
      color: #F24C1A; } }

/*# sourceMappingURL=style.css.map */
