//*********************************************************************//
//                              settings                               //
//*********************************************************************//

// value settings
$primary: #F24C1A;
$accent: #121121;
$accent2: rgba(18, 17, 33, 0.65);
$white: #fff;
$black: #333;
$gray_dark: #ccc;
$gray_light: #fafafa;
$shadow: 0 0.03rem 0.12rem rgba(0, 0, 0, 0.15);
$easing: cubic-bezier(0.15, 0.95, 0.41, 0.95);

// responsive break points
$phone-max: 767px;
$pad-min: 768px;
$pad-max: 1279px;
$pc-min: 1280px;

// functions
@mixin box-sizing ($value) {
	-webkit-box-sizing: $value;
	box-sizing: $value;}
@mixin transform ($value) {
	-webkit-transform: $value;
	transform: $value;}
@mixin transform-origin ($value) {
	-webkit-transform-origin: $value;
	transform-origin: $value;}
@mixin transition ($value) {
	-webkit-transition: $value;
	transition: $value;}
@mixin transition-transform ($value1,$value2) {
	-webkit-transition: -webkit-transform $value1 $value2;
	transition: transform $value1 $value2;}
@mixin prefix-transition ($value) {
	-webkit-transition: -webkit-$value;
	transition: $value;}
@mixin animation ($value) {
	-webkit-animation: $value;
	animation: $value;}
@mixin display-flex () {
	display: -webkit-flex;
	display: flex;}
@mixin flex-flow ($value) {
	-webkit-flex-flow: $value;
	flex-flow: $value;}
@mixin order ($value) {
	-webkit-order: $value;
	order: $value;}
@mixin flex ($value) {
	-webkit-flex: $value;
	flex: $value;}
@mixin justify-content ($value) {
	-webkit-justify-content: $value;
	justify-content: $value;}
@mixin align-items ($value) {
	-webkit-align-items: $value;
	align-items: $value;}
@mixin align-content ($value) {
	-webkit-align-content: $value;
	align-content: $value;}
@mixin aColor ($value) {
	color: $value;
	&:visited {
		color: $value;}
	&:hover {
		color: lighten($value,15%);}
	&:active {
		color: $value;}
}
@mixin aBgColor ($value) {
	background-color: $value;
	&:visited {
		background-color: $value;}
	&:hover {
		background-color: lighten($value,15%);}
	&:active {
		background-color: $value;}
}




//*********************************************************************//
//                               global                                //
//*********************************************************************//

* { @include box-sizing (content-box);}
html, body{
	height:100%;}
html {
	line-height: 1;
	font-size: 100px;
}
body {
	font-family: -apple-system,Helvetica,Arial,"PingFang SC","Source Han Sans SC","Microsoft YaHei","WenQuanYi MicroHei",sans-serif;
	line-height: 1.6;
	font-size: 0.16rem;
	color: $black;
	background: $white;}
a {
	color: $primary;
}
input, textarea, button {
	font-family: -apple-system,Helvetica,Arial,"PingFang SC","Source Han Sans SC","Microsoft YaHei","WenQuanYi MicroHei",sans-serif;}
::selection {
	background: $primary;
	color: $white;}
::-moz-selection {
	background: $primary;
	color: $white;}




//*********************************************************************//
//                             components                              //
//*********************************************************************//

// layout
// phone
@media only screen and (max-width: $phone-max){
	.bg_wrap {
		padding: 0.4rem 0.2rem;
	}
}
// pad and pc
@media only screen and (min-width: $pad-min){
	.bg_wrap {
		padding: 0.4rem 10%;
	}
}

// title
.section_title {
	text-align: center;
	position: relative;
	i {
		display: block;
		border-radius: 50%;
		position: absolute;
		left: 50%;
		bottom: 0;
		transform: translate(-50%, 0);
		&:before, &:after {
			content: "";
			display: block;
			position: absolute;
			bottom: 0.03rem;
		}
	}
}
.dark {
	color: $black;
	i {
		background: $primary;
		&:before, &:after {
			background: $primary;
		}
	}
}
.light {
	color: $white;
	i {
		background: $white;
		&:before, &:after {
			background: $white;
		}
	}
}
// phone
@media only screen and (max-width: $phone-max){
	.section_title {
		padding-bottom: 0.15rem;
		font-size: 0.16rem;
		i {
			width: 0.06rem;
			height: 0.06rem;
			&:before, &:after {
				width: 0.14rem;
				height: 0.01rem;
			}
			&:before {
				left: -0.2rem;
			}
			&:after {
				right: -0.2rem;
			}
		}
	}
}
// pad and pc
@media only screen and (min-width: $pad-min){
	.section_title {
		padding: 0 0 0.2rem;
		margin: 0.5rem 0;
		font-size: 0.3rem;
		i {
			width: 0.08rem;
			height: 0.08rem;
			&:before, &:after {
				width: 0.28rem;
				height: 0.02rem;
			}
			&:before {
				left: -0.4rem;
			}
			&:after {
				right: -0.4rem;
			}
		}
	}
}

// slogen
.slogen {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	.bg_wrap {
		background-color: $accent2;
	}
}
.slogen1 {
	background-image: url(../images/slogen1.jpg);
}
.slogen2 {
	background-image: url(../images/slogen2.jpg);
}
.slogen3 {
	background-image: url(../images/slogen3.jpg);
}
.slogen4 {
	background-image: url(../images/slogen4.jpg);
}
// phone
@media only screen and (max-width: $phone-max){
	.slogen .bg_wrap {
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
	}
}
// pad and pc
@media only screen and (min-width: $pad-min){
	.slogen .bg_wrap {
		padding-top: 1rem;
		padding-bottom: 1rem;
	}
}




//*********************************************************************//
//                               header                                //
//*********************************************************************//

.header {
	h1 {
		height: 100%;
		img {
			height: 100%;
		}
	}
}
// phone
@media only screen and (max-width: $phone-max){
	.header {
		height: calc(0.48rem - 0.1rem);
		padding: 0.1rem 0.2rem;
	}
}
// pad and pc
@media only screen and (min-width: $pad-min){
	.header {
		height: calc(0.72rem - 0.15rem);
		padding: 0.15rem 1rem;
	}
}




//*********************************************************************//
//                               sign_up                               //
//*********************************************************************//

.sign_up {
	background-color: $accent;
	background-repeat: no-repeat;
	.bg_wrap {
		background-color: $accent2;
		.instruction {
			color: $white;
			h1 {
				font-weight: bold;
				&:after {
					content: "";
					display: block;
					width: 0.34rem;
					height: 0.02rem;
					background: $white;
				}
			}
			span {
				display: block;
			}
		}
		.form {
			overflow: hidden;
			background: $white;
			border-radius: 0.04rem;
			.stripe {
				@include display-flex ();
				@include justify-content (center);
				@include flex-flow (row wrap);
				i {
					@include flex (1 1 25%);
					display: block;
					height: 0.05rem;
					&:nth-child(odd) {
						background-color: $primary;
					}
					&:nth-child(even) {
						background-color: $accent;
					}
				}
			}
			h2 {
				text-align: center;
				color: $accent;
			}
			.row {
				margin: 0.12rem 0.2rem;
				border: 1px solid $gray_dark;
				border-radius: 0.04rem;
				input {
					width: calc(100% - 0.3rem);
					height: 0.2rem;
					line-height: 0.2rem;
					padding: 0.06rem 0.15rem;
					font-size: 0.14rem;
					color: $black;
					position: relative;
					z-index: 2;
				}
				select {
					width: calc(100% - 0.3rem);
					height: 0.19rem;
					line-height: 0.19rem;
					padding: 0.06rem 0.15rem;
					border: 0;
					background: transparent;
					appearance:none;
					-moz-appearance:none;
					-webkit-appearance:none;
					font-size: 0.14rem;
					color: $black;
					position: relative;
					z-index: 2;
				}
			}
			.submit {
				display: block;
				width: 2.1rem;
				height: 0.4rem;
				line-height: 0.4rem;
				margin: 0.25rem auto;
				background: $primary;
				border-radius: 0.04rem;
				font-size: 0.16rem;
				color: $white;
				text-align: center;
			}
		}
	}
}
// phone
@media only screen and (max-width: $phone-max){
	.sign_up {
		background-position: center top;
		background-size: 300%;
		.bg_wrap {
			.instruction {
				margin: 0 0 0.4rem;
				h1 {
					font-size: 0.24rem;
					&:after {
						margin: 0.1rem 0 0;
					}
				}
				p {
					margin: 0.3rem 0 0.1rem;
					font-size: 0.12rem;
				}
				span {
					font-size: 0.12rem;
				}
			}
			.form {
				h2 {
					margin: 0.2rem 0;
					font-size: 0.16rem;
				}
			}
		}
	}
}
// pad and pc
@media only screen and (min-width: $pad-min){
	.sign_up {
		background-position: center center;
		background-size: cover;
		.bg_wrap {
			@include display-flex ();
			@include justify-content (space-around);
			@include flex-flow (row wrap);
			@include align-items (center);
			.instruction {
				@include flex (0 1 50%);
				h1 {
					font-size: 0.48rem;
					&:after {
						margin: 0.2rem 0 0;
					}
				}
				p {
					margin: 0.4rem 0 0.6rem;
					font-size: 0.24rem;
					font-weight: bold;
				}
				span {
					font-size: 0.2rem;
				}
			}
			.form {
				@include flex (0 1 45%);
				max-width: 3.8rem;
				h2 {
					margin: 0.3rem 0;
					font-size: 0.24rem;
				}
				.row {
					input, select {
						padding: 0.11rem 0.15rem;
					}
				}
				.submit {
					@include transition (background-color 0.5s $easing);
					@include aBgColor ($primary);
				}
			}
		}
	}
}




//*********************************************************************//
//                                intro                                //
//*********************************************************************//

.intro {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	color: $white;
	.bg_wrap {
		padding-top: 0.8rem;
		padding-bottom: 0.8rem;
		background-color: $accent2;
		@include display-flex ();
		@include justify-content (space-between);
		.text {
			h2 {
				padding-bottom: 0.1rem;
				font-weight:bold;
			}
		}
		.list {
			li {
				i {
					display: inline-block;
					border: 0.01rem solid $white;
					border-radius: 50%;
					text-align: center;
				}
			}
		}
	}
}
// phone
@media only screen and (max-width: $phone-max){
	.intro {
		background-image: url(../images/intro_mobile.jpg);
		.bg_wrap {
			@include flex-flow (column wrap);
			@include align-items (flex-start);
			.text {
				padding-bottom: 0.2rem;
				h2 { font-size: 0.18rem; }
				p { font-size: 0.14rem; }
			}
			.list {
				li {
					i {
						width: 0.24rem;
						height: 0.24rem;
						line-height: 0.24rem;
						margin: 0.1rem 0.1rem 0.1rem 0;
					}
				}
			}
		}
	}
}
// pad and pc
@media only screen and (min-width: $pad-min){
	.intro {
		background-image: url(../images/intro_pc.jpg);
		.bg_wrap {
			@include flex-flow (row wrap);
			@include align-items (center);
			.text {
				width: 40%;
				h2 { font-size: 0.2rem; }
				p { font-size: 0.16rem; }
			}
			.list {
				width: 50%;
				li {
					float: left;
					margin-right: 0.5rem;
					i {
						width: 0.4rem;
						height: 0.4rem;
						line-height: 0.4rem;
						margin: 0.1rem;
					}
				}
			}
		}
	}
}




//*********************************************************************//
//                              location                               //
//*********************************************************************//

.location {
	color: $white;
}
// phone
@media only screen and (max-width: $phone-max){
	.location {
		background: $primary;
		.bg_wrap {
			padding-top: 0.3rem;
			padding-bottom: 0.3rem;
			.text {
				h2 {
					padding: 0.1rem 0;
					font-size: 0.18rem;
				}
				p {
					padding: 0.1rem 0;
					font-size: 0.14rem;
				}
			}
			img { width: 100%; }
		}
	}
}
// pad and pc
@media only screen and (min-width: $pad-min){
	.location {
		background: url(../images/location_pc.jpg) no-repeat center center;
		background-size: cover;
		.bg_wrap {
			padding-top: 1.2rem;
			padding-bottom: 1.2rem;
			.text {
				h2 {
					padding: 0.2rem;
					font-size: 0.2rem;
				}
				p {
					padding: 0.2rem;
					font-size: 0.16rem;
				}
			}
			img { display: none; }
		}
	}
}




//*********************************************************************//
//                              advantage                              //
//*********************************************************************//

.advantage {
	ul {
		padding: 0.5rem 0;
		@include display-flex ();
		@include justify-content (space-between);
		@include align-items (flex-start);
		@include flex-flow (row wrap);
		li {
			padding: 0.2rem 0;
			text-align: center;
			h3 {
				padding: 0.1rem;
				font-weight: bold;
			}
			p {
				padding: 0 0.1rem;
			}
		}
	}
}
// phone
@media only screen and (max-width: $phone-max){
	.advantage {
		ul li {
			@include flex (1 1 50%);
			img {
				width: 0.6rem;
				height: 0.6rem;
			}
			h3 {
				font-size: 0.16rem;
			}
			p {
				font-size: 0.12rem;
			}
		}
	}
}
// pad and pc
@media only screen and (min-width: $pad-min){
	.advantage {
		ul li {
			@include flex (1 1 25%);
			img {
				width: 1.2rem;
				height: 1.2rem;
			}
			h3 {
				font-size: 0.2rem;
			}
			p {
				font-size: 0.14rem;
			}
		}
	}
}




//*********************************************************************//
//                                degree                               //
//*********************************************************************//

.degree {
	background: $gray_light;
	.content {
		.column {
			.group {
				margin: 0.3rem 0;
				h4 {
					padding: 0.05rem 0 0.05rem 0.1rem;
					background: $accent;
					color: $white;
				}
				ul {
					margin: 0.1rem 0;
					padding-left: 0.3rem;
					list-style: disc;
				}
			}
		}
	}
}
// phone
@media only screen and (max-width: $phone-max){
	.degree {
		.group {
			h4 {
				font-size: 0.14rem;
			}
			ul {
				font-size: 0.12rem;
			}
		}
	}
}
// pad and pc
@media only screen and (min-width: $pad-min){
	.degree {
		.content {
			@include display-flex ();
			@include justify-content (space-between);
			@include flex-flow (row wrap);
			.column {
				@include flex (0 1 40%);
			}
		}
		.group {
			h4 {
				font-size: 0.16rem;
			}
			ul {
				font-size: 0.14rem;
			}
		}
	}
}




//*********************************************************************//
//                                 fee                                 //
//*********************************************************************//

.fee {
	.content {
		.detail {
			@include display-flex ();
			@include justify-content (center);
			@include flex-flow (row wrap);
			li {
				@include flex (0 1 4rem);
				img {
					display: block;
					box-shadow: $shadow;
				}
			}
		}
		p em {
			color: $primary;
			font-size: 0.14rem;
		}
	}
}
// phone
@media only screen and (max-width: $phone-max){
	.fee {
		.content {
			padding-top: 0.2rem;
			li {
				margin: 0.1rem 0;
				img { width:100%; }
			}
		}
	}
}
// pad and pc
@media only screen and (min-width: $pad-min){
	.fee {
		.content {
			padding-bottom: 0.5rem;
			li {
				margin: 0.4rem;
				img { width:4rem; }
			}
		}
	}
}




//*********************************************************************//
//                               require                               //
//*********************************************************************//

.require {
	background: $gray_light;
	.content {
		padding: 0.2rem 0;
		img {
			display: none;
			width: 100%;
			margin: 0.2rem 0;
			box-shadow: $shadow;
		}
		p {
			margin: 0.2rem 0;
			em {
				color: $primary;
			}
		}
	}
}
// phone
@media only screen and (max-width: $phone-max){
	.require img.mobile {
		display: block;
	}
}
// pad and pc
@media only screen and (min-width: $pad-min){
	.require img.pc {
		display: block;
	}
}




//*********************************************************************//
//                               progress                              //
//*********************************************************************//

.progress {
	.content {
		padding: 0.2rem 0;
		img {
			display: none;
			width: 100%;
			margin: 0.2rem 0;
		}
		p {
			margin: 0.2rem 0;
			em {
				color: $primary;
			}
		}
	}
}
// phone
@media only screen and (max-width: $phone-max){
	.progress img.mobile {
		display: block;
	}
}
// pad and pc
@media only screen and (min-width: $pad-min){
	.progress img.pc {
		display: block;
	}
}




//*********************************************************************//
//                                howto                                //
//*********************************************************************//

.howto {
	background: $gray_light;
	.content {
		padding: 0.2rem 0;
		img {
			display: none;
			width: 100%;
			margin: 0.2rem 0;
		}
		p {
			margin: 0.2rem 0;
			em {
				color: $primary;
			}
		}
	}
}
// phone
@media only screen and (max-width: $phone-max){
	.howto img.mobile {
		display: block;
	}
}
// pad and pc
@media only screen and (min-width: $pad-min){
	.howto img.pc {
		display: block;
	}
}




//*********************************************************************//
//                                life                                 //
//*********************************************************************//

.life {
	color: $white;
}
// phone
@media only screen and (max-width: $phone-max){
	.life {
		background: $primary;
		.text {
			h2 {
				font-size: 0.16rem;
			}
			li {
				padding: 0.1rem 0;
				font-size: 0.12rem;
			}
		}
	}
}
// pad and pc
@media only screen and (min-width: $pad-min){
	.life {
		background: url(../images/life.jpg) no-repeat center center;
		background-size: cover;
		.text {
			float: right;
			width: 45%;
			h2 {
				font-size: 0.3rem;
			}
			li {
				padding: 0.1rem 0;
				font-size: 0.16rem;
			}
		}
	}
}




//*********************************************************************//
//                               buttons                               //
//*********************************************************************//

.buttons {
	background: $primary;
	div {
		@include display-flex ();
		@include justify-content (center);
		height: 2.5rem;
		align-items: center;
		a {
			display: block;
			border: 1px solid $white;
			border-radius: 0.06rem;
			color: $white;
			text-align: center;
		}
	}
}
// phone
@media only screen and (max-width: $phone-max){
	.buttons div {
		@include flex-flow (column wrap);
		a {
			@include flex (0 1 0.4rem);
			width: 2rem;
			line-height: 0.4rem;
			margin: 0.12rem;
			font-size: 0.14rem;
		}
	}
}
// pad and pc
@media only screen and (min-width: $pad-min){
	.buttons div {
		@include flex-flow (row wrap);
		a {
			@include flex (0 1 2rem);
			height: 0.48rem;
			line-height: 0.48rem;
			margin: 0.2rem;
			font-size: 0.16rem;
			@include transition (background-color 0.5s $easing);
			@include aBgColor ($primary);
		}
	}
}




//*********************************************************************//
//                               footer                                //
//*********************************************************************//

.footer {
	padding: 0.2rem 0;
	text-align: center;
	p {
		padding: 0.05rem;
		&:last-of-type {
			font-size: 0.14rem;
		}
		i {
			padding: 0 0.1rem;
			color: $gray_dark;
		}
	}
}
// pad and pc
@media only screen and (min-width: $pad-min){
	.footer p a {
		@include transition (color 0.5s $easing);
		@include aColor ($primary);
	}
}