/*go_top*/
#go_top a {
	display: block;
	width: 54px;
	height: 54px;
	background: url(../images/go_top.png) no-repeat center center;
	background-size: cover;
	position: fixed;
	right: 15px;
	bottom: 30px;
	z-index: 999;
}

/*form style*/
.mktoForm input.mktoField,
.mktoForm select.mktoField {
	text-indent: 5px !important;
}
.mktoButtonRow {
	display: inline-block !important;
}
fieldset {
	width: 300px !important;
}
fieldset .mktoFormRow {
	width: 65px !important;
}
fieldset label.mktoLabel.mktoHasWidth {
	width: 65px !important;
}
.home .mktoButtonRow {
	width: 100%;
}
@media only screen and (min-width: 737px) {
	.home #index-submit {
		max-width: 280px;
		padding: 10px 0;
	}
}